/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #010f33;
  overflow-x: hidden;
}

/* Cabeçalho */
.header_section {
  background: linear-gradient(to bottom, #3e61bb, #0c225e);
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.navbar-brand span {
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}

/* Navegação personalizada */
.custom_nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.custom_nav-container .navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom_nav-container .navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.custom_nav-container .navbar-nav .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transform: translateY(0);
}

.custom_nav-container .navbar-toggler-icon {
  color: #fff;
}

.custom_nav-container .navbar-nav .nav-link:hover {
  background-color: #3366CC;
  color: #fff;
  transform: translateY(-5px);
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #3366CC;
  color: #fff;
  transform: translateY(-5px);
}

/* Seção "Projetos" específica */
.projects-page .service_section {
  background-color: #010f33;
  color: #fff;
  padding: 20px 0;
}

.projects-page .service_section h2 {
  font-size: 36px;
  color: #3366CC;
  margin-top: 20px;
  text-align: center;
}

.projects-page .service_section img {
  max-width: 100%;
  height: auto;
}

.projects-page .projetos_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

/* Modificação nas caixas */
.projects-page .box {
  flex-basis: calc(20% - 20px); /* Reduzindo ainda mais o tamanho das caixas */
  background-color: #02345d;
  margin-bottom: 20px;
  border-radius: 10px; /* Mantendo o raio das bordas */
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center; /* Centralizando o texto */
  padding: 20px; /* Espaçamento interno */
}

.projects-page .box:hover {
  transform: translateY(-5px);
}

.projects-page .img-box img {
  max-width: 100%;
  height: auto;
}

.projects-page .detail-box {
  padding: 20px;
  text-align: center;
}

/* Ajustando o tamanho dos textos responsivos */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px; /* Reduzindo o tamanho da marca */
  }

  .navbar-brand span {
    font-size: 25px; /* Reduzindo o tamanho do subtitulo */
  }

  .custom_nav-container .navbar-nav {
    flex-direction: column;
  }

  .custom_nav-container .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .custom_nav-container .navbar-nav .nav-link {
    font-size: 18px; /* Reduzindo o tamanho dos links */
    padding: 10px 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }

  .custom_nav-container .navbar-nav .nav-link:hover {
    background-color: #3366CC;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .projects-page .service_section {
    padding: 10px 0;
  }

  .projects-page .projetos_container {
    flex-direction: column;
    align-items: center;
  }

  .projects-page .box {
    flex-basis: calc(50% - 20px); /* Reduzindo o tamanho pela metade */
    margin: 0 auto 20px; /* Centralizando e ajustando a margem */
  }

  .projects-page .detail-box h5 {
    font-size: 15px; /* Reduzindo o tamanho do subtítulo responsivo */
  }

  .projects-page .detail-box p {
    font-size: 10px; /* Reduzindo o tamanho do texto responsivo */
  }
}