/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #010f33;
  overflow-x: hidden;
}

/* Cabeçalho */
.header_section {
  background: linear-gradient(to bottom, #3e61bb, #0c225e);
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.navbar-brand span {
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}

/* Navegação personalizada */
.custom_nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.custom_nav-container .navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom_nav-container .navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.custom_nav-container .navbar-nav .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transform: translateY(0);
}

.custom_nav-container .navbar-toggler-icon {
  color: #fff;
}

.custom_nav-container .navbar-nav .nav-link:hover {
  background-color: #3366CC;
  color: #fff;
  transform: translateY(-5px);
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #3366CC;
  color: #fff;
  transform: translateY(-5px);
}

/* Seção "Sobre" específica */
.about-page .about_section {
  background-color: #010f33;
  color: #fff;
  padding: 20px 0;
}

.about-page .about_section h2 {
  font-size: 36px;
  color: #fff;
  margin-top: 20px;
}

.about-page .about_section p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-top: 10px;
}

.about-page .img_container {
  width: 100%;
  text-align: center;
}

.about-page .img-box {
  display: inline-block;
  margin: 20px;
}

.about-page .img-box img {
  max-width: 100%;
  height: auto;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
  }

  .navbar-brand span {
    font-size: 28px;
  }

  .custom_nav-container .navbar-nav {
    flex-direction: column;
  }

  .custom_nav-container .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .custom_nav-container .navbar-nav .nav-link {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }

  .custom_nav-container .navbar-nav .nav-link:hover {
    background-color: #3366CC;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .about-page .about_section {
    padding: 10px 0;
  }
}